word: {{{lorem 1 'word' 'html'}}}<br>
words: {{{lorem 2 'words' 'html'}}}<br>
sentence: {{{lorem 1 'sentence' 'html'}}}<br>
sentences: {{{lorem 2 'sentences' 'html'}}}<br>
paragraph: {{{lorem 1 'paragraph' 'html'}}}<br>
paragraphs: {{{lorem 2 'paragraphs' 'html'}}}<br>


<h1>H1</h1>
<h2>H2</h2>
<h3>H3</h3>
<h4>H4</h4>
<h5>H5</h5>
<h6>H6</h6>
<p>p</p>
<div><sub>sub</sub> / <sup>sup</sup></div>
<div><small>small</small></div>